<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li><%= t(:purchasing) %></li><li><%= t(:purchase_order) %></li><li><%= t(:list) %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <section id="widget-grid" class=""><!-- widget grid -->
    <div class="row"><!-- row -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- NEW WIDGET START -->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false"><!-- Widget ID (each widget will need unique ID)-->
          <h2 style="color:#BF1E2D; margin-top:-5px;"><i class="fa fa-list-ul"></i> List Purchase Order</h2> <!-- header content -->
          <div>
            <div class="widget-body no-padding"><!-- widget content -->
              <%= link_to raw("<span class='btn-label'><i class='glyphicon glyphicon-plus'></i></span>#{t(:add_purchase_order)}"), new_purchase_order_path,
                class: "btn btn-labeled btn-primary edit-btn-primary" if current_user.can_manage_po? %>
              <table class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th><%= t(:no) %></th>
                    <th><%= t(:purchase_order_number) %></th>
                    <th>
                      <%= t(:purchase_order_date) %>
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'code-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'code-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      <%= t(:supplier) %>
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      <%= t(:total_quantity) %>
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'supplier_code-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'supplier_code-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      <%= t(:total_cost_price) %>
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'supplier_code-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'supplier_code-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      Note
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'supplier_code-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'supplier_code-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <th>
                      Status
                      <span style="float: right;">
                        <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'supplier_code-desc', class: 'sorting hide' %>
                        <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'supplier_code-asc', class: 'sorting' %>
                      </span>
                    </th>
                    <% if current_user.can_manage_po? %>
                      <th>Action</th>
                    <% end %>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="hasinput"><%= text_field_tag :number, params[:number], class: 'form-control search' %></th>
                    <th class="hasinput"><%= text_field_tag :date, params[:date], class: 'form-control search', name: "to_char(date, 'DD-MM-YYYY')" %></th>
                    <th class="hasinput">
                      <%= text_field_tag :supplier_name, params[:supplier_name], class: 'form-control search', name: 'suppliers.name' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :status, params[:status], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :status, params[:status], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :status, params[:status], class: 'form-control search' %>
                    </th>
                    <th class="hasinput">
                      <%= text_field_tag :status, params[:status], class: 'form-control search' %>
                    </th>
                    <% if current_user.can_manage_po? %>
                      <th></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody id='purchase_order-list'>
                  <%= render 'purchase_order_list' %>
                </tbody>
              </table>
            </div><!-- end widget content -->
          </div>
        </div><!-- end widget -->
      </article><!-- WIDGET END -->
    </div>	<!-- end row -->
  </section><!-- end widget grid -->
</div>	<!-- end row -->
