<td><%= f.text_field :applicant_name, :placeholder => "Applicant Name" %></td>
<td><%= f.file_field :attachment %></td>
<td><%= f.text_field :position, :placeholder => "Position" %></td>
<td><%= f.number_field :score, :placeholder => "Score" %></td>
<td><%= f.text_field :status, :placeholder => "Status" %></td>
