<% grand_total_cash = 0 %>
<% grand_total_debit_amt = 0 %>
<% grand_total_credit_amt = 0 %>
<% grand_total_koperasi = 0 %>
<% grand_total_dp_masuk = 0 %>
<% grand_total_dp_keluar = 0 %>
<% grand_total_transfer_amt = 0 %>
<% grand_total_voucher_amt = 0 %>
<% grand_total_total = 0 %>
<% grand_total_qty = 0 %>
<% grand_total_net_sales = 0 %>
<% grand_total_cash_value = 0 %>
<% grand_total_jasa_kado = 0 %>
<% grand_total_dp_masuk = 0 %>
<% grand_total_dp_keluar = 0 %>
<% grand_total_btp_masuk = 0 %>
<% grand_total_btp_keluar = 0 %>
<% grand_total_tombokan = 0 %>
<% grand_total_lain_lain = 0 %>
<% grand_total_pembulatan = 0 %>
<% grand_total_total_setor = 0 %>
<% grand_total_seharusnya = 0 %>
<% grand_total_pct = {} %>
<% grand_total_total_biaya = 0 %>
<% conditions = [] %>
<% conditions << "id=#{params[:id]}" if params[:id].present? %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<div id="ribbon">
  <ol class="breadcrumb">
    <li>Reports</li><li>Store Admin Report</li><li>Omset per Supplier</li>
  </ol>
</div>
<div id="content">
  <div class="row">
    <article class="col-sm-12 col-md-12">
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-product">
          <h2>Omset per Supplier <%= Date::MONTHNAMES[params[:month].present? ? params[:month].to_i : ''] rescue '' %> <%= params[:year] %></h2>
        </header>
        <div id="tabs">
        <fieldset>
          <div class="row">
            <section class="col col-md-6">
              <section>
                <label class="col-md-3">Bulan</label>
                <label class="col-md-8 input custom-input-box">
                  <%= select_month Date::MONTHNAMES[params[:month].to_i].to_date, {field_name: 'start'}, {class:"form-control reload"} %>
                </label>
              </section>
              <section>
                <label class="col-md-12">
                  <%= link_to store_admin_reports_omsets_path(format: "html", year: params[:year], month: params[:month], id: params[:id]), :class => "btn btn-labeled btn-primary edit-btn-success", id: "reload" do %>
                    <span class="btn-label"><i class="glyphicon glyphicon-repeat"></i></span>Load
                  <% end %>
                  <%= link_to store_admin_reports_omsets_path(format: "xlsx", year: params[:year], month: params[:month], id: params[:id]), :class => "btn btn-labeled btn-primary edit-btn-success", id: "reload2" do %>
                    <span class="btn-label"><i class="glyphicon glyphicon-download"></i></span>Export XLSX
                  <% end %>
                </label>
              </section>
            </section>
            <section class="col col-md-6">
              <section>
                <label class="col-md-3">Tahun</label>
                <label class="col-md-8 input custom-input-box">
                  <%= number_field_tag :tahun, params[:year], min: 1990, max: 2100, class:"form-control reload", onkeyup: "reload()" %>
                </label>
              </section>
            </section>
          </div>
          <br>
        </fieldset>
          <ul>
            <% Branch.where(conditions.join(' AND ')).each{|branch| %>
              <li><a href="#tabs-<%= branch.id %>"><%= branch.office_name %> : <%= branch.description %></a></li>
            <% } %>
          </ul>
          <% Branch.where(conditions.join(' AND ')).each{|branch| %>
            <% day_count = "#{params[:year]}-#{sprintf('%02d', params[:month].to_i)}-01".to_date.end_of_month.day %>
            <div id="tabs-<%= branch.id %>">
              <div class="widget-body no-padding"><!-- TABEL -->
                <div class="table-responsive">
                  <table class="table table-bordered table-striped" id='stock'>
                    <tr>
                      <th rowspan=3 style="text-align: center; vertical-align: middle;">SUPL</th>
                      <th rowspan=3 style="text-align: center; vertical-align: middle;">DESKRIPSI</th>
                      <th colspan=<%= day_count*3 %>>
                        PENJUALAN BULAN <%= Date::MONTHNAMES[params[:month].to_i] %> <%= params[:year] %>
                      </th>
                    </tr>
                    <tr>
                      <% 1.upto(day_count) {|date| %>
                        <th colspan=3><%= date %></th>
                      <% } %>
                    </tr>
                    <tr>
                      <% 1.upto(day_count) {|date| %>
                        <th>Qty</th>
                        <th>Modal</th>
                        <th>Omset</th>
                      <% } %>
                    </tr>
                    <% @suppliers.each{|supplier| %>
                      <tr>
                        <td><%= supplier.code %></td>
                        <td><%= supplier.name %></td>
                        <% 1.upto(day_count) {|date| %>
                          <% sales = SalesDetail.where("supplier_id=#{supplier.id} AND store_id=#{branch.id}  AND quantity > 0 AND transaction_date BETWEEN
                            '#{params[:year]}-#{sprintf('%02d', params[:month].to_i)}-#{sprintf('%02d', date)} 00:00:00'
                            AND '#{params[:year]}-#{sprintf('%02d', params[:month].to_i)}-#{sprintf('%02d', date)} 23:59:59'").joins(:sale, product_size: [product: [brand: :supplier]])
                            .select("SUM(quantity) AS quantity, SUM(quantity*capital_price) AS capital_price, SUM(quantity*capital_price) AS capital_price, SUM(sales_details.total_price) AS total_price")[0] %>
                          <td><%= sales.quantity %></td>
                          <td><%= format_currency sales.capital_price %></td>
                          <td><%= format_currency sales.total_price %></td>
                        <% } %>
                      </tr>
                    <% } %>
                  </table>
                </div>
              </div><!-- END TABEL -->
            </div>
          <% } %>
        </div>
      </div>
    </article>
  </div>
</div>
<SCRIPT>
  $(".reload").on('change', function() {
    reload()
  })

  function reload(){
    $("#reload").attr("href", "/store_admin_reports/omsets.html?locale=en&id=<%= params[:id] %>month="+ getMonth($("#date_start").val()) +"&year="+ $("#tahun").val())
    $("#reload2").attr("href", "/store_admin_reports/omsets.xlsx?locale=en&id=<%= params[:id] %>month="+ getMonth($("#date_start").val()) +"&year="+ $("#tahun").val())
  }

  function getMonth(mon){
   return new Date(Date.parse(mon +" 1, 2017")).getMonth()+1
  }

  $(document).ready(function() {
    $('#tabs').tabs();
  })
</SCRIPT>
<STYLE>
  th{text-align: center; vertical-align: middle;}
</STYLE>