<% if @purchase_requests.count > 0 %>
  <% @purchase_requests.each do |request| %>
    <tr>
      <td><%= link_to request.number, purchase_request_url(request) %></td>
      <td><%= request.date %></td>
      <td><%= request.supplier_name %></td>
      <td><%= request.status %></td>
      <% if current_user.can_manage_pr? %>
      <td>
        
          <%= link_to raw("<i class='fa fa-pencil'> </i>"), edit_purchase_request_path(request.id), class: "btn btn-primary btn-xs" %>
          <%= link_to raw("<i class='fa fa-trash-o'></i>"), 'javascript:void(0)', onclick: "delete_one(#{request.id}, 'purchase_requests')", class: "btn btn-danger btn-xs edit-btn-dlt" %>
      </td>
      <% end %>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan='5' align='center'>No Data Entries</td>
  </tr>
<% end %>