<div class="modal-body">
  <%= form_for Schedule.new do |f|%> 
    <div class="form-group row">
      <label class="form-label col-sm-2">Periode </label>
      <div class="controls col-sm-2">						 
        <div class="input-append success date">
          <%= f.text_field :start_period, class: 'form-control'%>
          <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> 
        </div>
      </div>
      <div class="pull-left">to
      </div>
      <div class="controls col-sm-2">						 
        <div class="input-append success date">
          <%= f.text_field :end_period, class: 'form-control'%>
          <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> 
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="form-label col-sm-2">Shift </label>
      <div class="controls col-sm-3">						 
        <%= f.select :shift_id, options_for_select(Shift.all.map{|x| [x.name, x.id]}), {:prompt => '--select--'},{:class => "form-control"} %>
      </div>
    </div>
    <div class="form-group row">
      <label class="form-label col-sm-2">Type</label>
      <div class="controls col-sm-3">						 
        <%= f.select :schedule_type, options_for_select(['Single', 'Many']), {:prompt => '--select--'},{:class => "form-control", :onchange => "generateForm();"} %>
        <%= hidden_field_tag :many_employee %>
      </div>
    </div>
    <hr />
    <div class="form-no-horizontal-spacing">
     	<div class="row column-seperation">
        <div class="col-md-12" id='form_select'>
          <div class="form-group row">
          <h4 class="semi-bold col-sm-6" id='judul_form'>Select Many Employee</h4>
            <div id='tool_organization'>
              <label class="form-label col-sm-2">Organization </label>
              <div class="controls col-sm-3">                   
                <%= f.select :organization_id, options_for_select(Employee.all.map{|x| [x.name, x.id]}), {:prompt => '--select--'},{:class => "form-control", :onchange => "getEmployee()"} %>
              </div>
            </div>
          </div>
          <table class="table table-hover no-more-tables">
            <thead>
              <tr>
                <th>Employee Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= f.select :employee_id, options_for_select(Employee.all.map{|x| [x.name, x.id]}), {:prompt => '--select--'},{:class => "form-control"} %>
                </td>
                <td>
                  <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-actions">
      <div class="pull-right">
        <button class="btn btn-success btn-cons" onclick='check_ceck()'><i class="icon-ok"></i> Save</button>
      </div>
    </div>
  </div>
  <% end %>
<script type="text/javascript">
function generateForm(){
	if($('#schedule_schedule_type').val() == 'Single'){
        $('#form_select').show();
       $('#judul_form').html('Select Employee');
       $('#tool_organization').hide();

	}else if($('#schedule_schedule_type').val() == 'Many'){
        $('#form_select').show();
        $('#judul_form').html('Select Many Employee');
        $('#tool_organization').show();
	}else{
        $('#form_select').hide();
	}
}

$(document).ready(function () {
    generateForm();
});

$('.input-append.date').datepicker({
            autoclose: true,
            todayHighlight: true
       });
</script>