<div id='product_detail'>
  <% @good_transfer.product_mutation_details.group_by{|prd|prd.product_size.product_id}.each_with_index { |prd, i| %>
    <% product = prd[1][0].product_size.product %>
    <div class="modal fade" id="myModal<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <% quantities = prd[1].map(&:quantity); %>
      <% product_sizes = product.product_sizes; %>
      <% list_product = @list_product[product.id]; %>
      <% key = "#{Time.now.to_i}#{i}" %>
      <style type="text/css">
        .label{
          color: #151313;
        }
      </style>
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Size Detail</h4>
          </div>
          <div class="modal-body" style="color:#5E5E5E">
            <div class="row">
              <%= render partial: 'shared/product_info', locals: {product: product} %>
              <section class="col col-md-12">
                <label class="col-md-12 input custom-input-box">
                  <table class="table table-striped table-bordered" id="table_size">
                    <thead>
                      <tr>
                        <th>Size</th>
                        <% product.size.sorted_size_details.each do |size_detail| %>
                          <% product_size = ProductSize.find_by_product_id_and_size_detail_id(product.id, size_detail.id) %>
                          <% if product_size.present? %>
                            <td><%= size_detail.size_number.to_s %></td>
                          <% end %>
                        <% end %>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th><%= tr_label rescue 'Retur' %> Quantity</th>
                        <% product.size.sorted_size_details.each_with_index do |size_detail, idx| %>
                          <% product_size = ProductSize.find_by_product_id_and_size_detail_id(product.id, size_detail.id) %>
                          <% if product_size.present? %>
                            <td>
                              <%= ProductMutationDetail.find_by_product_size_id_and_product_mutation_id(product_size.id, @good_transfer.id).quantity %>
                              <%= hidden_field_tag "good_transfer[product_mutation_details_attributes][#{key}#{idx}][product_size_id]", product_size.id %>
                              <%= hidden_field_tag "good_transfer[product_mutation_details_attributes][#{key}#{idx}][quantity]", quantities[idx] %>
                            </td>
                          <% end %>
                        <% end %>
                      </tr>
                    </tbody>
                  </table>
                </label>
              </section>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  <% } %>
</div><!-- end widget div -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script type="text/javascript">
  $(document).ready(function() {
    clone_details()
    autocomplete_barcode()
    $('.add_brand').click(function(){
      add_brand()
    })
    set_barcode()
  });

  function set_barcode(){
    if ($('#good_transfer_origin_branch_id').val() == '')
      $('#barcode').attr('disabled', 'disabled')
    else
      $('#barcode').removeAttr('disabled')

  }
  function add_brand(product_id, good_transfer_detail_id){
    var date = new Date();
    $.ajax({
      url: '/good_transfers/add_brand',
      data: {
        key: date.getDay() + ""+date.getMonth() + "" + date.getFullYear() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds(), product_id: product_id,
        warehouse_id: $('#good_transfer_origin_branch_id').val(), id: '<%= @good_transfer.id %>'
      }
    })
  }

  function beforeSave(){
    var good_id = [];
    var tot = $('#request tbody tr').length;
    if(tot != 0){
      for(var y=0; y < tot; y+=1){
        good_id.push($("#request tbody tr:eq("+ y +") td:eq(0) span").text())
      }
      $("#good_list").val(good_id.toString());
      clone_inputs()
      setTimeout(function(){$('form').submit()}, 1000);
    }else{
      alert('Insert Data First!')
      return false;
    }
  }

  function deleteRow(event){
    $(event.target).parent().parent().parent().remove();
  }
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
