<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div id="ribbon"><!-- RIBBON -->
  <ol class="breadcrumb"><!-- breadcrumb -->
    <li>Purchasing</li><li><%= t(:return_to_ho_receipt) %></li><li><%= @good_transfer.code %></li>
  </ol><!-- end breadcrumb -->
</div><!-- END RIBBON -->
<div id="content"><!-- MAIN CONTENT -->
  <%= render 'layouts/errors' %>
  <div class="row">
    <article class="col-sm-12 col-md-12"><!-- NEW COL START -->
      <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
        <header id="header-good_transfer">
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2><%= @good_transfer.code %></h2>
        </header>
        <div><!-- widget div-->
          <div class="widget-body no-padding"><!-- widget content -->
            <%= form_for @good_transfer, url: mark_as_received_return_to_ho_receipt_url(@good_transfer), html: {method: 'PUT', class: "smart-form"} do |f| %>
              <%= render 'rtho_detail' %>
              <footer>
                <button type="button" class="btn btn-primary" onclick="return(beforeSave())">Accept</button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">Back</button>
              </footer>
              <div id='product_detail_tobe_submitted' style='display: none'></div><!-- end widget div -->
            <% end %>
          </div><!-- end widget content -->
        </div><!-- end widget div -->
      </div><!-- end widget -->
    </article><!-- END COL -->
  </div><!-- end widget div -->
</div><!-- end widget div -->
<%= render 'shared/product_detail_outer_form' %>