<tr>
  <td>Rp.100.000</td>
  <td><%= list_deposit["end_100k"] %></td>
  <td><%= format_currency(list_deposit["sum_end_100k"]) %></td>
</tr>
<tr>
  <td>Rp.50.000</td>
  <td><%= list_deposit["end_50k"] %></td>
  <td><%= format_currency(list_deposit["sum_end_50k"]) %></td>
</tr>
<tr>
  <td>Rp.20.000</td>
  <td><%= list_deposit["end_20k"] %></td>
  <td><%= format_currency(list_deposit["sum_end_20k"]) %></td>
</tr>
<tr>
  <td>Rp.10.000</td>
  <td><%= list_deposit["end_10k"] %></td>
  <td><%= format_currency(list_deposit["sum_end_10k"]) %></td>
</tr>
<tr>
  <td>Rp.5.000</td>
  <td><%= list_deposit["end_5k"] %></td>
  <td><%= format_currency(list_deposit["sum_end_5k"]) %></td>
</tr>
<tr>
  <td>Rp.2.000</td>
  <td><%= list_deposit["end_2k"] %></td>
  <td><%= format_currency(list_deposit["sum_end_2k"]) %></td>
</tr>
<tr>
  <td>Rp.1.000</td>
  <td><%= list_deposit["end_1k"] %></td>
  <td><%= format_currency(list_deposit["sum_end_1k"]) %></td>
</tr>
<tr>
  <td>Rp.500</td>
  <td><%= list_deposit["end_500"] %></td>
  <td><%= format_currency(list_deposit["sum_end_500"]) %></td>
</tr>
<tr>
  <td>Rp.200</td>
  <td><%= list_deposit["end_200"] %></td>
  <td><%= format_currency(list_deposit["sum_end_200"]) %></td>
</tr>
<tr>
  <td>Rp.100</td>
  <td><%= list_deposit["end_100"] %></td>
  <td><%= format_currency(list_deposit["sum_end_100"]) %></td>
</tr>
<tr>
  <td>Rp.50</td>
  <td><%= list_deposit["end_50"] %></td>
  <td><%= format_currency(list_deposit["sum_end_50"]) %></td>
</tr>
<tr>
  <td colspan="2">Total Setoran</td>
  <td><%= format_currency(list_deposit["total_deposit"]) %></td>
</tr>
<tr>
  <td rowspan="2" colspan="2">Saldo Tunai</td>
  <td rowspan="2"><%= format_currency(saldo_cash) %></td>
</tr>
<tr></tr>
<tr>
  <td colspan="2">Selisih</td>
  <td><%= format_currency(selisih) %></td>
</tr>
<tr>
  <td colspan="3">&nbsp</td>
</tr>
<tr>
  <td colspan="3">&nbsp</td>
</tr>
