<div id="ribbon">
  <ol class="breadcrumb">
    <li>Purchasing</li><li>Return To HO</li>
  </ol>
</div>
<div id="content">
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false"><!-- Widget ID (each widget will need unique ID)-->
          <h2 style="color:#BF1E2D; margin-top:-5px;"><i class="fa fa-list-ul"></i> Retur To HO</h2> <!-- header content -->
          <div><% if current_user.can_manage_return_to_ho? %>
            <div class="widget-body no-padding">
              <%= link_to raw('<span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Tambah Retur'), new_returns_to_ho_url,
                class: "btn btn-labeled btn-primary edit-btn-primary" %>
            </div><% end %>
            <table class="table table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>
                    Kode
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'code-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'code-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    Tanggal
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
                    </span>
                    </th>
                  <th>
                    Supplier
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
                    </span>
                  </th>
                  <th>
                    Retur Quantity
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
                    </span>
                    </th>
                  <th>
                    Total Cost Price
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
                    </span>
                    </th>
                  <th>
                    Note
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
                    </span>
                    </th>
                  <th>
                    Status
                    <span style="float: right;">
                      <%= link_to raw('<i class="fa fa-sort-desc"></i>'), 'javascript:void(0)', id: 'name-desc', class: 'sorting hide' %>
                      <%= link_to raw('<i class="fa fa-sort-asc"></i>'), 'javascript:void(0)', id: 'name-asc', class: 'sorting' %>
                    </span>
                    </th>
                    <% if current_user.can_manage_return_to_ho? && false %>
                      <th>Aksi</th>
                    <% end %>
                  </tr>
                  <tr>
                    <th></th>
                    <th class="hasinput"><%= text_field_tag :code, params[:code], class: 'form-control search', name: 'product_mutations.code' %></th>
                    <th class="hasinput"><%= text_field_tag :date, params[:date], class: 'form-control search', name: "to_char(mutation_date, 'DD-MM-YYYY')" %></th>
                    <th class="hasinput"><%= text_field_tag :supplier_name, params[:supplier_name], class: 'form-control search', name: "suppliers.name" %></th>
                    <th></th>
                    <th></th>
                    <th class="hasinput"><%= text_field_tag :note, params[:note], class: 'form-control search' %></th>
                    <th class="hasinput"><%= text_field_tag :status, params[:status], class: 'form-control search', name: 'product_mutations.status' %></th>
                    <% if current_user.can_manage_return_to_ho? && false %>
                      <th></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody id='returns_to_ho-list'><%= render 'returns_to_ho_list' %></tbody>
              </table>
            </div>
          </div>
      </article>
    </div>
  </section>
</div>